.projectsSection {
  padding: 2rem;
  margin: 2rem auto 0 auto;
  max-width: 90vw;
  border-radius: 10px;
}

.projectsSectionLight {
  background-color: #2b2b2b;
  color: var(--card-text-color);
  box-shadow: 8px 8px 4px 1px rgba(14, 18, 49, 0.493);
}

.projectsSectionDark {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  box-shadow: 8px 8px 4px 1px rgba(155, 155, 155, 0.493);
}

.projectsTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.projectsGridWrapper {
  position: relative;
  overflow: hidden;
}

.projectsGrid {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 10px;
}

.projectsGrid::-webkit-scrollbar {
  display: none;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.7);
  border: none;
  color: var(--card-text-color);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.carouselButtonLeft {
  left: 0.8rem;
}

.carouselButtonRight {
  right: 0.8rem;
}

.projectCard {
  min-width: 300px;
  flex: 0 0 auto;
  color: var(--text-color);
  border-radius: 10px;
  transition: transform 0.3s;
}

.projectCardLight {
  background-color: #CACACA;
  box-shadow: 8px 8px 4px 1px rgba(155, 155, 155, 0.493);
}

.projectCardDark {
  background-color: #333344;
  box-shadow: 8px 8px 4px 1px rgba(155, 155, 155, 0.493);
}

.fadeLeft,
.fadeRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4vw;
  pointer-events: none;
  z-index: 1;
}

.fadeLeft {
  left: 0;
  background: linear-gradient(to right, var(--card-bg-color), rgba(245, 245, 245, 0));
}

.fadeRight {
  right: 0;
  background: linear-gradient(to left, var(--card-bg-color), rgba(245, 245, 245, 0));
}

.projectsSectionLight .fadeLeft {
  background: linear-gradient(to right, rgba(43, 43, 43, 1), rgba(64, 64, 64, 0));
}

.projectsSectionLight .fadeRight {
  background: linear-gradient(to left, rgba(43, 43, 43, 1), rgba(64, 64, 64, 0));
}


.projectCard:hover {
  transform: scale(1.02);
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.projectImage {
  display:flex;
  width: 95%;
  border-radius: 10px;
  margin: .5vh auto 0 auto;
  padding: 0 auto;
  height: 200px;
  object-fit: cover;
}

.projectContent {
  padding: 1rem;
}

.projectContent h3 {
  margin: 0 0 0.5rem 0;
}

.projectContent p {
  margin: 0 0 1rem 0;
}

.projectContent a {
  text-decoration: none;
  color: var(--card-text-color);
  font-weight: bold;
  border-bottom: 1px solid currentColor;
}

@media (min-width: 768px) {
  .projectsGrid {
    grid-template-columns: 1fr 1fr;
  }
}
