.iconLight {
  fill: #2b2b2b;
  filter: drop-shadow(2px 2px 2px #ccc);
  transition: all 0.3s ease;
}

.iconDark {
  fill: #333;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  transition: all 0.3s ease;
}
