* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

:root[data-theme='light'] {
  --bg-color: #d0eaff;
  --text-color: #000000;
  --card-bg-color: #2b2b2b;
  --card-text-color: #f5f5f5;
}

:root[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #e6f0ff;
  --card-bg-color: #f5f5f5;
  --card-text-color: #000;
  --contrast-bg: #2a2a2a;
  --contrast-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
