.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0,0,0,0.05);
}

.flag {
  width: 24px;
  height: auto;
}
