.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 2rem;
}

.navbarLight {
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.navbarDark {
  background-color: #404040;
  border-bottom: 1px solid rgba(222, 222, 222, 0.3);
  color: #fff;
}

.right button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.right button:hover {
  opacity: 0.8;
}

.left {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.left h1 {
  margin: 0;
}

.left h2 {
  font-size: x-large;
}

#toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#darkmode {
  border: none;
}