.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 9;
}

.navbarLight {
  background-color: var(--bg-blend-inverted);
  border-bottom: 1px solid var(--bg-blend);
  color: var(--text-color);
}

.navbarDark {
  background-color: var(--bg-blend-inverted);
  border-bottom: 1px solid var(--bg-blend);
  color: var(--contrast-text);
}

.right button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.right button:hover {
  opacity: 0.8;
}

.left {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.left h1 {
  margin: 0;
}

.left h2 {
  font-size: x-large;
}

#toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#darkmode {
  border: none;
}